@import "tailwindcss";

:root {
  --text: #52525b;
  --text-h: #18181b;
  --bg: #ffffff;
  --border: #e4e4e7;
  --code-bg: #f4f4f5;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.08);
  --accent-border: rgba(170, 59, 255, 0.4);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/150% var(--sans);
  letter-spacing: 0.16px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}
